# Development settings
CUDA_DEVICE_ORDER=PCI_BUS_ID
CUDA_VISIBLE_DEVICES=0

# HuggingFace
HF_HOME=/opt/huggingface
HF_HUB_CACHE=${HF_HOME}/hub
HF_TOKEN=`Your HuggingFace API key`
HF_DATASETS_TRUST_REMOTE_CODE=1
TRUST_REMOTE_CODE=true
